impact.xsl
impact_impact.xwbt
usage_statistics_webtalk.html
webtalk.log
webtalk_impact.xml
*.swp
hw/nes_sample.cache/*
hw/nes_sample.hw/*
hw/nes_sample.ip_user_files/*
hw/nes_sample.runs/*
hw/nes_sample.sim/*
hw/nes_sample.srcs/*
hw/nes_sample.xpr